html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --font: "Rubik", sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  --font-size-base: 18px;
  --border-radius: 16px;

  --blue-100: hsl(195, 74%, 62%);
  --blue-200: hsl(236, 100%, 87%);
  --blue-400: hsl(235, 45%, 61%);
  --blue-500: hsl(246, 80%, 60%);
  --blue-800: hsl(235, 46%, 20%);
  --blue-900: hsl(226, 43%, 10%);

  --red-100: hsl(15, 100%, 70%);
  --red-200: hsl(348, 100%, 68%);

  --green-100: hsl(145, 58%, 55%);

  --violet-500: hsl(264, 64%, 52%);

  --orange-100: hsl(43, 84%, 65%);
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--blue-900);
  font-family: var(--font);
  font-size: var(--font-size-base);
  color: #fff;
}

.board {
  min-height: 100vh;
  padding: 70px 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.board-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  display: grid;
  gap: 24px;
  justify-content: center;
  grid-template-columns: repeat(1, minmax(300px, 330px));
}
.board__person {
  width: 100%;
  background-color: var(--blue-800);
  border-radius: var(--border-radius);
}

.info-card {
  background-color: var(--blue-500);
  border-radius: var(--border-radius);
  padding: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.info-card__photo {
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.info-card__subtitle {
  font-weight: var(--fw-medium);
  margin: 0;
  font-size: 13px;
}
.info-card__title {
  font-weight: var(--fw-medium);
  margin: 8px 0 0;
}

.view-selector {
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
}
.view-selector__item {
  font-size: 15px;
  color: var(--blue-200);
  cursor: pointer;
}
.view-selector__item:hover,
.view-selector__item--active {
  color: #fff;
}
